#happy{
    color:blue;
    background-color: antiquewhite;
    font-size:56px;
    text-align:center
}
h1{
    color:black;
    font-size:68px;
    font-weight:bolder;
    text-align:center
}
p{
    color:black;
    font-size:25px;
}