

.boader{
    background-color: black;
    width:130%;
    height:100px;
    display:flex;
    justify-content: right;
    align-items: center;
   
}
.inner{
    background-color: white;
    width:35%;
    height:20px;
   padding:30px;
   margin-right:10%
    
}
.content{
    background-color: blue;
    width:130%;
    height:750px; 
    margin:0
}
body{
    margin:0
}
h1{
    color:black;
    font-size:700%;
    font-weight:bolder;
    margin:0;
    text-align:center
}
p{
    color:black;
    font-size:200%;
    text-align:center;
    text-indent:0;
    text-align: justify;
}
button{
    padding: 8px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    padding: 6px 7px;
    vertical-align: middle;

}