.header{
    background-color: #3b5998;
    width:100%;
    height:100px;

}
body{
    margin:0;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}
.logo{
    width:50%;
    padding-top:39px;
    float:left;
    
}
.login{
    width:50%;
    float:left;
    padding-top:21px;
}
.logo-text{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    margin-left:100px;
   font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}
.login-label{
    color:white;
    font-size:13px;

}
.login-controls{
    margin-left:211px;
}
.login{
    padding-top:29px;
}
.forgotten{
    font-size: 14px;
    color: #9cb4db;
    text-decoration: none;

}
.sub-btn{
    background-color: #4267b2;
    color: white;
    height: 20px;
    border-color: #29487d;
    cursor:pointer;
}
.sub-btn:hover{
    background: darkblue;
}
.left-section{
    width:57%;
    float:left;
    padding-left: 101px;
    padding-top: 50px;
}
.right-section{
    width:24%;
    float:left;
}
.main-body{
    background: linear-gradient(white,#D3D8E8);
    height:570px;
    width:100%
}
.para{
    color:black;
    font-weight:bolder;
    font-size:24px;
    margin-left:102px;
}

.image{
    width:660px;
}
.style{
    color:black;
    font-weight:bolder;
    float:right;
    font-size:37px;
    
}
.para1{
    font-size:20px;
    font-weight:bold;
}
.form{
    font-size: 21px;
    height: 25px;
    width: 67%;
    border-radius: 7px;
    border-color: white;
    border-top:white;
    border-left:white;
    margin:20px;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding:10px;
        display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container {
    display: flex;
    gap: 20px; 
        justify-content: center;
        width:490px;
        display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create two equal columns */
    

}
.form1{
    font-size: 21px;
    height: 25px;
    width: 67%;
    border-radius: 7px;
    border-color: white;
    border-top:white;
    border-left:white;
    margin:20px;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding:10px;
        display: flex;
    flex-direction: column;
    align-items: center;

}